@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

// Variables (전역 변수)
$color-primary: #222;
$color-secondary: #333;
$bgc-item: #eee;
$portfolio-item-w: 300px;
$portfolio-item-h: 300px;
$portfolio-images-url: 'images/';
$portfolio-item-bdrs: 10px;

/* Portfolio */
.portfolio {
  padding: 20px;
  h1 {
    text-align: center;
    font-size: 30px;
  }
  .portfolio-items {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    .portfolio-item {
      border: 1px solid #000;
      width: $portfolio-item-w;
      height: $portfolio-item-h;
      border-radius: $portfolio-item-bdrs;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &:nth-child(1) {
        background-image: url($portfolio-images-url + 'pika.jpg');
      }
    }
  }
}
