@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.portfolio p {
  text-align: center;
  text-overflow: hidden;
  text-transform: uppercase;
}