@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin: 0;
  color: #333;
  background-color: #fff;
  line-height: 1.6em;
}

.heading {
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
}
.heading span {
  color: royalblue;
}
.heading:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: crimson;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.news-headline {
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
}
.news-headline span {
  color: royalblue;
}
.news-headline:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: crimson;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}